<div class="moment" *ngIf="moment">
  <h1>{{ moment.title }}</h1>
  <img
    src="{{ baseApiUrl }}uploads/{{ moment.image }}"
    alt="{{ moment.title }}"
  />
  <div class="about-moment">
    <h3>About this moment</h3>
    <p>{{ moment.description }}</p>
  </div>
  <div class="actions">
    <h3>Actions:</h3>
    <a routerLink="/moment/edit/{{ moment.id }}" class="edit-btn">
      <fa-icon [icon]="faEdit"></fa-icon>Edit
    </a>
    <button class="remove-btn" (click)="removeHandler(moment.id!)">
      <fa-icon [icon]="faTimes"></fa-icon>Remove
    </button>
  </div>
  <!-- TODO Comments-->
  <div class="comments">
    <h3>
      Comments ({{ moment.comments!.length > 0 ? moment.comments!.length : 0 }})
    </h3>
    <div *ngIf="moment.comments!.length > 0; else noComments">
      <div class="comment-container" *ngFor="let comment of moment.comments">
        <p class="comment">{{ comment.text }}</p>
        <p class="author"><span>By: </span>{{ comment.username }}</p>
      </div>
    </div>
  </div>
  <ng-template #noComments>
    <p>No comments yet</p>
  </ng-template>
  <div class="comment-form">
    <h3>Let a comment</h3>
    <form
      [formGroup]="commentForm"
      #formDir="ngForm"
      (ngSubmit)="onSubmit(formDir)"
    >
      <div class="form-group">
        <label for="comment">Comment</label>
        <textarea
          formControlName="text"
          placeholder="Comment something!!"
          required
        ></textarea>
        <div *ngIf="text.invalid && formDir.submitted" class="validation-error">
          <p *ngIf="text.errors?.['required']">O comentário é obrigatório.</p>
        </div>
      </div>
      <div class="form-group">
        <label for="username">Name</label>
        <input
          formControlName="username"
          type="text"
          placeholder="Your name"
          required
        />
        <div
          *ngIf="username.invalid && formDir.submitted"
          class="validation-error"
        >
          <p *ngIf="username.errors?.['required']">O nome é obrigatório.</p>
        </div>
      </div>
      <input type="submit" value="Comment" />
    </form>
  </div>
</div>
