<form (ngSubmit)="submit()" [formGroup]="momentForm" #formDir="ngForm">
  <input type="hidden" formControlName="id" />
  <div class="form-group">
    <label for="title">Title</label>
    <input
      type="text"
      id="title"
      name="title"
      placeholder="Insert a Title"
      formControlName="title"
      required
    />
    <div *ngIf="title.invalid && formDir.submitted" class="validation-error">
        <p *ngIf="title.errors?.['required']">Title is mandatory</p>
    </div>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea placeholder="What happen in your moment" formControlName="description" required> </textarea>
    <div *ngIf="description.invalid && formDir.submitted" class="validation-error">
        <p *ngIf="description.errors?.['required']">Description is mandatory</p>
    </div>
  </div>
  <div class="form-group">
    <label for="image">Share your photo</label>
    <input type="file" (change)="onFileSelected($event)"/>
  </div>
  <input type="submit" value="{{ btnText }}" />
</form>
